.edit-filled-star {
    color: green;
    cursor: pointer;
}

.edit-empty-star {
    color: blue;
    cursor: pointer;
}

.filled-star {
    color: #56666f;
}

.empty-star {
    color: #9eada5;
}

.fractional-star {
    display: inline-block;
    -webkit-text-fill-color: transparent;
    /* background: linear-gradient(to right, gold 50%, red 50%); */
    background-clip: text;
    /* -webkit-background-clip: text; */
}